- var devMode = self.htmlWebpackPlugin.options.data.DEV_MODE
- var weinreScript = self.htmlWebpackPlugin.options.data.weinreScript
- var title = "React Template";
- var description = "React Template"
- var keywords = "";
- var image = "asset/img/fb.jpg"
doctype html
html
  head
    title=title
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    meta(property="og:title" content=title)
    meta(property="og:site_name" content=title)
    meta(property="og:description" content=description)
    meta(property="og:type" content="website")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli:400,300")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" href="https://milkmidi.github.io/core-ui-material-design/css/core-ui-custom.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    if weinreScript
      script(src=weinreScript)
  body
    #app
    script(src="https://cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js" defer)