/**
* {{ properCase name }}
*/

import React, { Component } from 'react';
// import PropTypes from 'prop-types';
import './index.styl';

class {{ properCase this.name }} extends Component {
  render() {
    return (
      <div className="{{dashCase name}}-root">
      </div>
    );
  }
}

{{ properCase name }}.proptTypes = {

};

export default {{ properCase name }};
